// 主题颜色
$-main-color: #409eff;

// 字体颜色
$fontColor: #2C3445;

// 链接字体颜色
$aColor: #7395e5;

// 错误
$errorColor: #FF5555;
// 成功
$successColor: #19C878;

$shadow: 0px 2px 3px 0px rgba(79,83,98,0.09);

// 官网主题色
//   开始
$-home-color-start: #3d3393;
//   结束
$-home-color-end: #33da9b;

// hover颜色
$-hover-color:  rgba(67,74,80, .4) !important;

// 选中高亮颜色
$-highlight-color: #ffd04b;